---
import { getCollection } from 'astro:content'
import Product from './Item.astro'
const products = await getCollection('products')
---

<div class='products-gallery'>
    {products.map(product => (
        <Product title={product.data.title}
                 image={product.data.image}
                 content={product.body} />
    ))}
</div>