---
import Default from '@layouts/default.astro'
import Button from '@components/shared/Button.astro'
---

<Default>
    <main class='h-screen flex flex-col justify-center items-center gap-2'>
        <h1 class='uppercase'>404 | Not Found</h1>
        <Button text='Return to Home' />
    </main>
</Default>
