---
import Default from '@layouts/default.astro'
import Button from '@components/shared/Button.vue'
---

<Default>
    <main class='h-screen flex flex-col justify-center items-center gap-2'>
        <h1 class='uppercase'>404 | Not Found</h1>
        <Button client:only='vue'>
            Return to Home
        </Button>
    </main>
</Default>
