---
import Default from '@layouts/default.astro'
import Hero from '@components/sections/Hero.astro'
import ProductsGallery from '@components/shared/Gallery.astro'
---

<Default>
    <main>
        <Hero />
        <section class='flex-column-[4] px-[110px]'>
            <h2 class='text-center'>Our premium collection</h2>
            <ProductsGallery />
        </section>
    </main>
</Default>
