---
const { text = 'Click me' } = Astro.props
---

<button>
    <span>{text}</span>
</button>

<style>
    button {
        @apply min-w-[161px] max-w-[196px];
        @apply py-1 px-2;
        @apply font-fraunces text-body-large font-bold text-white;
        @apply rounded-lg bg-jade-500 hover:bg-jade-600;
    }
</style>
