<nav class='menu-navigation'>
    <a class='menu-navigation__item--active' href='#'>Home</a>
    <a class='menu-navigation__item' href='#'>About us</a>
    <a class='menu-navigation__item' href='#'>Create your plan</a>
</nav>